<nav class="navbar navbar-expand navbar-dark bg-dark py-0" *ngIf="showHeader()">
  <div class="container px-3">
    <div class="navbar-nav mr-auto">      
      <li class="nav-item">
        <a class="nav-link pt-1" routerLink="/support" routerLinkActive="active"><small><i class="fa fa-phone"></i> Support</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pt-1" routerLink="/faq" routerLinkActive="active"><small><i class="fa fa-question-circle-o"></i> FAQ</small></a>
      </li>
    </div>
    <div class="navbar-nav ml-auto">      
      <li class="nav-item" *ngIf="!anonymous">
        <a class="nav-link pt-1" routerLink="/profile" routerLinkActive="active"><small>My Profile</small></a>
      </li>
      <li class="nav-item" *ngIf="!anonymous">
        <a class="nav-link pt-1" routerLink="/login"><small>Logout</small></a>
      </li>
      <li class="nav-item" *ngIf="anonymous">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><small>Login</small></a>
      </li>
      <li class="nav-item" *ngIf="anonymous">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"><small>Register</small></a>
      </li>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-light bg-white border-bottom" *ngIf="showHeader()">
  <div class="container px-3">
    <a class="navbar-brand" routerLink="/home">
      <i class="fa fa-cloud text-primary"></i> <span class="d-none d-md-inline">{{appConfig.appname}}</span>
    </a>
    <ul class="navbar-nav mr-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
      </li>
    </ul>
    <div class="form-inline mr-auto">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" (click)="search()"><i class="fa fa-search"></i> <span class="d-none d-md-inline">Search</span></button>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active">
          <i class="fa fa-shopping-cart"></i> <span class="d-none d-md-inline">Cart</span> <span class="badge badge-success">0</span>
        </a>
      </li>
    </ul>
  </div>
</nav>