<div class="card card-primary">
    <form [formGroup]="resetPasswordForm"
          (ngSubmit)="resetPassword()"
          class="card-body"
          novalidate>
        <h3 class="card-title text-center">Reset Password</h3>
        <div class="alert alert-info">Please check your inbox for an email containing your username and temporary verification code.</div>
        <div class="form-group">
            <label for="resetUsernameId"
                   class="sr-only">Username</label>
            <input formControlName="username"
                   placeholder="Username"
                   type="text"
                   class="form-control"
                   id="resetUsernameId" />
            <span *ngIf="formErrors.username"
                  class="error-message">
                {{formErrors.username}}
            </span>
        </div>
        <div class="form-group">
            <label for="verificationCodeId"
                   class="sr-only">Verification Code</label>
            <input formControlName="verificationCode"
                   placeholder="Verification Code"
                   type="text"
                   class="form-control"
                   id="verificationCodeId">
            <span *ngIf="formErrors.verificationCode"
                  class="error-message">{{formErrors.verificationCode}}</span>
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group">
                <label for="newPasswordId"
                       class="sr-only">New Password</label>
                <input formControlName="password"
                       placeholder="New Password"
                       type="password"
                       class="form-control"
                       id="newPasswordId" />
                <span *ngIf="formErrors['passwordGroup.password']"
                      class="error-message">
                    {{formErrors['passwordGroup.password']}}
                </span>
            </div>
            <div class="form-group">
                <label for="confirmPasswordId"
                       class="sr-only">Confirm Password</label>
                <input formControlName="confirmPassword"
                       placeholder="Confirm New Password"
                       type="password"
                       class="form-control"
                       id="confirmPasswordId" />
                <span *ngIf="formErrors['passwordGroup.confirmPassword']"
                      class="error-message">
                    {{formErrors['passwordGroup.confirmPassword']}}
                </span>
                <span *ngIf="formErrors.passwordGroup"
                      class="error-message">
                        {{formErrors.passwordGroup}}
                    </span>
            </div>
        </div>
        <button type="submit"
                id="reset_submit"
                [disabled]="!resetPasswordForm.valid"
                class="btn btn-primary btn-block">Submit</button>
    </form>
</div>