.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20%;
    top: 0;
     :first-child {
        width: 300px;
        flex: 0 0 auto;
    }
}