<div class="text-center mt-3">
  <p>Don't have an account? <button type="button" class="btn btn-link" routerLink="/register">Sign Up</button></p>
  <h1 class="display-4">{{appConfig.appname}}</h1>
</div>

<div class="mx-auto " style="max-width:350px;">
  <h3 class="text-center text-muted mb-3">Forgot Password</h3>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <dynamic-ng-bootstrap-form 
      [group]="formGroup"
      [layout]="formLayout"
      [model]="formModel"></dynamic-ng-bootstrap-form>
  </form>
  <button type="button" class="btn btn-link pl-0" routerLink="/login">Return to Login</button>
</div>